h1 {
color:#1CD638;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#1CD638;
}

p {
    line-height: 25px;
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
  }

.upper {
    text-transform:uppercase;
}

img {
    float:left;
    padding:18px;
}